[data-md-color-primary="vector"] {
  --md-primary-fg-color: #eb088a;
  --md-primary-fg-color--light: #f252a5;
  --md-primary-fg-color--dark: #b00068;
  --md-primary-bg-color: hsla(0, 0%, 100%, 1);
  --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
}

[data-md-color-primary="black"] {
  --md-primary-fg-color: #181818;
  --md-primary-fg-color--light: #f252a5;
  --md-primary-fg-color--dark: #b00068;
  --md-primary-bg-color: #eb088a;
}

[data-md-color-accent="vector-pink"] {
  --md-accent-fg-color: #f252a5;
  --md-accent-fg-color--transparent: #526cfe1a;
  --md-accent-bg-color: #fff;
  --md-accent-bg-color--light: #ffffffb3;
}

[data-md-color-scheme="slate"][data-md-color-primary="black"] {
  --md-typeset-a-color: #eb088a;
}

#logo_light_mode {
  display: var(--md-footer-logo-light-mode);
}

#logo_dark_mode {
  display: var(--md-footer-logo-dark-mode);
}

[data-md-color-scheme="default"] {
  --md-footer-logo-dark-mode: none;
  --md-footer-logo-light-mode: block;
}

[data-md-color-scheme="slate"] {
  --md-typeset-a-color: #eb088a;
  --md-footer-logo-dark-mode: block;
  --md-footer-logo-light-mode: none;
}

.md-footer-vector {
  display: flex;
  align-items: center;
  padding: 0 0.6rem;
}

.md-footer-vector img {
  height: 24px; /* Reduce height to a fixed value */
  width: auto; /* Maintain aspect ratio */
  transition: opacity 0.25s;
  opacity: 0.7;
}

.md-footer-vector img:hover {
  opacity: 1;
}

/* Make the inner footer grid elements distribute evenly */
.md-footer-meta__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
